.divider {
  background-color: var(--color-border);
  border: none;
  flex-shrink: 0;
}

.horizontal {
  height: 1px;
  width: 100%;
  margin: var(--space-4) 0;
}

.vertical {
  width: 1px;
  height: 100%;
  margin: 0 var(--space-4);
}
